@import "foxlight.less";
@import "variables.less";

@charcoal: #4d4f53;

@yellow: #ffc958;
@yellow-dark: darken(@yellow, 15%);

@navy: #007bb0;
@navy-dark: darken(@navy, 15%);

@green: #40b488;
@green-dark: darken(@green, 15%);

@teal: #00bfb8;
@teal-dark: darken(@teal, 15%);

@magenta: #ef2c65;
@magenta-dark: darken(@magenta, 15%);

#default {
  .colour {
    background: #F1F2F2;
  }
  .btn-default {
    background: @yellow;
    box-shadow: 0 2px 0 @yellow-dark;
    color: @charcoal;
  }
}

#navy {
  .colour {
    background: #E6F6F9;
  }
  .btn-default {
    background: @navy;
    box-shadow: 0 2px 0 @navy-dark;
    color: white;
  }
}

#green {
  .colour {
    background: #EDFAF6;
  }
  .btn-default {
    background: @green;
    box-shadow: 0 2px 0 @green-dark;
    color: white;
  }
}

#teal {
  .colour {
    background: #E4FBFA;
  }
  .btn-default {
    background: @teal;
    box-shadow: 0 2px 0 @teal-dark;
    color: white;
  }
}

#magenta {
  .colour {
    background: #FFEAF3;
  }
  .btn-default {
    background: @magenta;
    box-shadow: 0 2px 0 @magenta-dark;
    color: white;
  }
}

// font weights available 300,400,500
body, html {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}

// Navbar style
.navbar {
  border-radius: 0;
  background: #233751;
  margin-bottom: 50px;
}
.navbar-brand {
  float: right;
  text-align: right;
  color: white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.container {
  margin-top: 80px;
  margin-bottom: 60px;
}
///////////////

article.intro {
  margin-bottom: 30px;
}

.intro {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

section article:nth-child(n+2){
  text-align: center;
}

img {
  margin-bottom: 15px;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

.colour {
  background: #F1F2F2;
  padding: 30px 15px;
}

.btn-lg {
  padding: 0.75rem 4rem;
}

.btn-default {
  background: @yellow;
  box-shadow: 0 2px 0 @yellow-dark;
  line-height: 29px;
}


.animation-example {
    -webkit-animation-name: example;
    -webkit-animation-duration:  .4s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-delay: .5s;
}

@-webkit-keyframes example {
    0% {
        -webkit-transform: scale(1.5);
        opacity: .5;
    }
    50%{
        -webkit-transform: scale(.7);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(.7);
        opacity: 0;
    }
}
