@import "foxlight.less";
@import "variables.less";

@yellow: #ffc958;
@yellow-dark: darken(@yellow, 15%);


// font weights available 300,400,500
body, html {
    font-family: 'Fira Sans', sans-serif;
    padding: 0;
    margin: 0;
}


// Navbar style

.navbar {
  border-radius: 0;
  background: #233751;
  margin-bottom: 50px;
}



///////////////

article.intro {
  margin-bottom: 30px;
}

.intro {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

section article:nth-child(n+2){
  text-align: center;
}

img {
  margin-bottom: 15px;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
}

.colour {
  background: #F1F2F2;
  padding: 30px 15px;
}

.btn-lg {
  padding: 0.75rem 4rem;
}

.btn-default {
  background: @yellow;
  box-shadow: 0 2px 0 @yellow-dark;
  line-height: 29px;
}


.animation-example {
    -webkit-animation-name: example;
    -webkit-animation-duration:  .4s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-delay: .5s;
}

@-webkit-keyframes example {
    0% {
        -webkit-transform: scale(1.5);
        opacity: .5;
    }
    50%{
        -webkit-transform: scale(.7);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(.7);
        opacity: 0;
    }
}
